<!-- Header -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Giga-App</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Pesquisar</button>
  </form>
</nav>

<!-- Card-Grid -->
<div class="team-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center"></h2>
    </div>
    <div class="row people">
      <% @users.each do |user| %>
      <div class="col-md-6 col-lg-4 item">
        <div class="box">
          <img src="data:image/png;base64,<%= user.picture_encode64 %>"/>
          <h3 class="name"><%= user.name %></h3>
          <p class="title">email: </br> <%= user.email %></p>
          <p class="title">gender: </br> <%= user.gender %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
<!-- Grid container -->
<div class="container p-4 pb-0">
</div>

<!-- Copyright -->
<div class="text-center p-3">
  © 2021 Giga-App:
  <a class="text-white" href="https://github.com/JPedroValarini">João Pedro</a>
</div>
<!-- Copyright -->
</footer>
