<div class="team-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center"></h2>
    </div>
    <div class="search-center">
      <%= render "form" %>
    </div>
  </div>
</div>
